<form
  action="https://buttondown.email/api/emails/embed-subscribe/activemetro"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/activemetro', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <label for="bd-email"><b>Active Metro Newsletter</b> Email me about new posts!</label>
  <input type="email" name="email" id="bd-email" />
  <input type="submit" value="Subscribe" />
  <p><small>No spam, promise</small></p>
</form>

<ul style="list-style-type:none">
	<li><a href="http://youtube.com/@pdxubse"><img src="/youtube.png"> youtube.com/@pdxubse</a></li>
</ul>

